body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

#panel {
  flex-grow: 1;
}

#panel ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

#panel ol li {
  padding: 5px 10px;
  border-top: 1px solid #eee;
}

#panel li:first-child {
  border-top: none;
}

#panel ol li.filler {
  padding: 0;
  margin: 0;
  border: none;
  height: 0px;
}

#panel ol li.event {
  color: #999;
  font-style: italic;
  border-top: 1px solid #eee;
  padding-left: 20px;
}

#panel ol li.notice span.channel {
  color: green;
  font-weight: bold;
}

#panel ol li.raw {
  font-family: "Menlo", "Inconsolata", "Consolas",
    "Droid Sans Mono", "Monaco", monospace;
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
  white-space: pre-wrap;
  line-height: 1.2em;
}

#panel ol li.sending.sent {
  opacity: 1;
  transition: opacity .25s;
}

#panel ol li.sending {
  opacity: 0.25;
  transition: opacity 0s;
}

#panel ol .status-change + li.event,
#panel ol .backlog-block + li.event,
#panel ol .backlog-block + li.message,
#panel ol .backlog-block + li.raw,
#panel ol li.event:first-child,
#panel ol li.event + li.event {
  border-top: none;
}

#panel ol li.event + li.event {
  padding-top: 0px;
}

#panel ol li.status-change {
  background: #eee;
}

#panel ol li span.message-nick {
  font-weight: bold;
}

#panel ol li.message time {
  color: #999;
  margin-left: 5px;
  font-size: 11px;
  line-height: 11px;
  padding-top: 5px;
}

#panel ol li span.message-nick {
  cursor: pointer;
}

#panel ol li.message a {
  word-break: break-all;
}

#foot {
  display: flex;
  flex-shrink: 0;
  flex-flow: row;
  margin: 0;
  padding: 0;
  background: #eee;
  right: 0px;
  bottom: 0px;
}

#prefix {
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 8px 5px;
  font-size: 16px;
  color: #aaa;
}

#input {
  flex-grow: 1;
  padding: 5px;
}

#input input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 5px;
}

#nav {
  width: 200px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-sizing: border-box;
  background: #fff;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.nav {
  margin: 0;
  padding: 0;
}

.nav#privates {
  flex-grow: 1;
}

.nav-title {
  padding: 10px 0 0 15px;
  font-size: 12px;
  color: #999;
  font-weight: normal;
  margin: 0;
}

.nav li.unread span.pill {
  display: inline;
}

.nav li.missed.unread:hover,
.nav li.missed.unread,
.nav li.unread:hover,
.nav li.unread {
  list-style-type: disc;
  color: green;
}

.nav li.missed:hover,
.nav li.missed {
  list-style-type: disc;
  color: #ccc;
}

.nav li.missed:hover {
  color: #555;
}

.nav li {
  cursor: pointer;
  padding: 8px 0px 8px 15px;
  list-style-type: circle;
  color: #ccc;
  font-size: 28px;
  line-height: 14px;
  list-style-position: inside;
  position: relative;
}

.nav li.active {
  background: #ddd;
}

.nav li.active:hover {
  color: #ccc;
  background: #ddd;
}

.nav li.active span {
  color: #000;
}

.nav li:hover {
  color: #555;
  background: #efefef;
}

.nav li > span {
  color: #555;
  font-size: 14px;
  line-height: 14px;
  display: block;
  position: absolute;
  left: 32px;
  top: 9px;
}

.nav li > span > span.pill {
  display: none;
  background: #bbb;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  padding: 0 5px;
  margin-left: 5px;
  font-size: 12px;
}

#topic {
  flex-shrink: 0;
  padding: 8px 10px;
  overflow-x: hidden;
  margin: 0;
  background: #eee;
  white-space: pre;
}

#topic p {
  margin: 0;
  padding: 0;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  color: #555;
  text-overflow: ellipsis;
}

.backlog-block:empty {
  display: none;
}

.backlog-block {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
  margin: 10px 0;
  transition: opacity 0.25s ease-out;
}

.status-change {
  margin: 10px;
}

.backlog-block:first-child {
  margin-top: 0;
}

.backlog-block:last-child {
  margin-bottom: 0;
}

.overlay {
  z-index: 9999999;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0,0,0,0.5);
}

.login {
  display: none;
  width: 220px;
  margin: 20px auto;
  font-size: 14px;
  background: #eee;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.login hr {
  border: none;
  margin: 20px 0;
}

.overlay label,
.overlay input[type=text],
.overlay input[type=number],
.overlay input[type=email],
.overlay input[type=password]
{
  width: 200px;
  display: block;
}

.overlay input[type=number],
.overlay input[type=text],
.overlay input[type=email],
.overlay input[type=password] {
  font-size: 14px;
  padding: 5px;
}

.overlay .input-group {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  border: none;
}

.overlay .submit-group {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  border: none;
  text-align: right;
}

p.note {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.overlay .submit-group p.note {
  float: left;
}

.overlay .checkbox-group {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  border: none;
}

.overlay .checkbox-group input,
.overlay .checkbox-group label {
  display: inline-block;
  width: auto;
}

.overlay label {
  color: #555;
  margin-bottom: 3px;
}

.overlay input {
  font-size: 14px;
}

.config {
  display: none;
  width: 220px;
  margin: 20px auto;
  font-size: 14px;
  background: #eee;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.config a.close {
  color: #000;
  display: inline-block;
  float: right;
  font-size: 14px;
}

.overlay h2 {
  font-size: 18px;
  margin-top: 0;
  border-bottom: 1px solid #ccc;
}

#logout {
  display: inline-block;
  padding: 0 4px;
  margin-top: 7px;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  float: right;
  color: darkred;
}

h1 {
  margin: 0;
  padding: 8px 0 8px 15px;
  font-size: 14px;
  line-height: 14px;
  background: LightPink;
  color: darkred;
  box-sizing: border-box;
}

#add-connection {
  display: inline-block;
  padding: 0 4px;
  line-height: 14px;
  cursor: pointer;
  float: right;
}

#add-connection:hover {
  color: #000;
}

.message-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.message-nick {
  white-space: pre;
}

.message-flex .message-nick {
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
}
.message-text {
  /white-space: pre-wrap;
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
}
.message-flex time {
  flex-grow:  0;
  flex-shrink: 0;
  display: inline-block;
}

#help {
  flex-shrink: 1;
  margin-top: 20px;
  font-size: 10px;
  color: #999;
  font-weight: normal;
  padding: 0 15px;
}

#help dt, dd {
  margin: 0;
  padding: 0;
}

#help dt {
  font-weight: bold;
}

#help dd {
  margin-bottom: 10px;
}

#help dd:last-child {
  margin-bottom: 0;
}

div.flex-wrap {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.flex-wrap-left {
  width: 200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.flex-wrap-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#panel-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
}

@media (max-width: 500px) {
  #foot {
    flex-direction: row-reverse;
  }
  #prefix {
    color: #555;
    cursor: pointer;
    padding-top: 12px;
  }
  #prefix:before {
    content: "\0000AB ";
    font-weight: bold;
    padding-right: 5px;
  }
  .flex-wrap.open #prefix:before {
    content: "\0000BB ";
  }
  .flex-wrap.open #foot #input {
    width: 1px;
  }
  .flex-wrap .flex-wrap-left {
    margin-left: -200px;
  }
  .flex-wrap.open .flex-wrap-left {
    margin-left: 0px;
  }
  .flex-wrap.open .flex-wrap-right {
    margin-right: -200px;
  }
  .flex-wrap-right,
  .flex-wrap-left {
    transition: all 0.1s ease-out;
  }

  .message-flex {
    display: block;
    position: relative;
  }
  .message-flex .message-nick {
    display: inline-block;
  }
  .message-flex time {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  #panel ol li.event {
    padding-left: 10px;
  }
}
