body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  overflow-x: hidden;
}

body,input {
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
}

a:link {
  color: #0093ff;
}

a:visited {
  color: #7600bd;
}

#panel {
  flex-grow: 1;
}

#panel ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

#panel ol li.chat,
#panel ol li.chat {
  padding: 5px 10px;
  border-top: 1px solid rgba(0,0,0,0.04);
  position: relative;
}

#panel ol li.chat:first-child {
  border-top: none;
}

#panel ol li.filler {
  padding: 0;
  margin: 0;
  border: none;
  height: 0px;
}

#panel ol li.event {
  color: #999;
  font-style: italic;
  border-top: 1px solid rgba(0,0,0,0.04);
  padding-left: 20px;
}

#panel ol li.notice span.channel {
  color: #02c702;
  font-weight: bold;
}

#panel ol li.raw {
  font-family: "Menlo", "Inconsolata", "Consolas",
    "Droid Sans Mono", "Monaco", monospace;
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
  white-space: pre-wrap;
  line-height: 1.2em;
}

#panel ol li.sending.sent {
  opacity: 1;
  transition: opacity .25s;
}

#panel ol li.sending {
  opacity: 0.25;
  transition: opacity 0s;
}

#panel ol .status-change + li.event,
#panel ol .backlog-block + li.event,
#panel ol .backlog-block + li.message,
#panel ol .backlog-block + li.raw,
#panel ol li.event:first-child,
#panel ol li.event + li.event {
  border-top: none;
}

#panel ol li.event + li.event {
  padding-top: 0px;
}

#panel ol li.status-change {
  background: #eee;
}

#panel ol li.chat span.message-nick {
  font-weight: bold;
}

/*
#panel ol li.message.consecutive {
  border-top: none;
  padding-top: 0;
}

#panel ol li.message.consecutive .message-nick,
*/
#panel ol li.message.consecutive time {
  visibility: hidden;
}

#panel ol li.message time {
  color: #999;
  margin-left: 5px;
  font-size: 11px;
  line-height: 11px;
  padding-top: 5px;
}

#panel ol li.chat span.message-nick {
  cursor: pointer;
}

#panel ol li.message a {
  word-break: break-all;
}

.image-wrap a {
  display: inline-block;
  box-shadow: 0 0 2px rgba(0,0,0,0.25);
}

.image-wrap a video,
.image-wrap a img {
  max-width: 100%;
  max-height: 300px;
  display: block;
}

#foot {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-flow: row;
  margin: 0;
  padding: 0;
  background: #eee;
  right: 0px;
  bottom: 0px;
}

#prefix {
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 11px 5px; /* to match input border */
  padding-right: 10px;
  font-size: 14px;
  color: #aaa;
  -webkit-user-select: none;
  background: #eee;
  text-align: right;
  border-right: 1px solid #ddd;
}

#input {
  flex-grow: 1;
  padding: 5px;
}

#input input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 0;
}

#nav {
  position: relative;
  width: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  background: rgba(0,0,0,0.03);
}

#nav:hover {
  overflow-y: auto;
}

.nav {
  margin: 0;
  padding: 0;
  height: auto;
  transition: height 0.5s;
}

.nav-title.collapsed:before {
  content: "\f0da";
  font-family: FontAwesome;
}

.nav-title .count {
  font-size: 10px;
}

.count:before {
  content: "(";
}
.count:after {
  content: ")";
}

.nav-title:before {
  content: "\f0d7";
  font-family: FontAwesome;
  color: #ddd;
  font-size: 16px;
  line-height:15px;
  height: 15px;
  float: left;
  padding-top: 1px;
  width: 16px;
  display: inline-block;
  text-align: center;
}

.nav-title:hover:before {
  color: #999;
}

.nav-title.collapsed + .nav {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

.nav#privates {
  flex-grow: 1;
}

.nav-title {
  padding: 10px 15px 0 5px;
  font-size: 12px;
  color: #999;
  font-weight: normal;
  margin: 0;
  cursor: pointer;
}

.nav-title-text {
  display: inline-block;
  padding-left: 4px;
}

.nav-title:hover {
  color: #555;
}

.nav li a.edit-panel,
.nav li a.close-panel {
  display: block;
  float: right;
  margin-right: 15px;
  font-size: 14px;
  height: 14px;
  opacity: 0;
  color: #ccc;
}

.nav li.active a.edit-panel,
.nav li.active a.close-panel {
  color: #999;
}

.nav li:hover a.edit-panel,
.nav li:hover a.close-panel {
  opacity: 1;
}

.nav li a.edit-panel:hover,
.nav li a.close-panel:hover {
  color: #555;
}

.nav li.missed:before {
  content: "\f1db";
}

.nav li.unread:before {
  content: "\f111";
}

.nav li:before {
  content: '';
  font-family: FontAwesome;
  font-size: 12px;
  line-height: 12px;
  width: 16px;
  text-align: center;
  display: inline-block;
}

.nav li.missed.highlighted:hover,
.nav li.missed.highlighted,
.nav li.unread.highlighted:hover,
.nav li.unread.highlighted,
.nav li.highlighted:hover,
.nav li.highlighted {
  color: #02c702;
}

.nav li.missed:hover,
.nav li.missed {
  color: #ccc;
}

.nav li.missed.unread:hover,
.nav li.missed.unread,
.nav li.unread:hover,
.nav li.unread {
  color: #999;
}

.nav li {
  cursor: pointer;
  padding: 8px 0px 8px 5px;
  color: #ccc;
  font-size: 14px;
  line-height: 14px;
}

.nav li.active {
  background: #ddd;
  color: #ddd;
}

.nav li.active:hover {
  color: #ddd;
  background: #ddd;
}

.nav li:hover {
  color: #555;
  background: #efefef;
}

.nav li a {
  color: #555;
  padding-left: 4px;
}

#topic {
  flex-shrink: 0;
  padding: 8px 10px;
  overflow-x: hidden;
  margin: 0;
  background: #fff1f2;
  white-space: pre;
  min-height: 14px;
}

#topic p {
  margin: 0;
  padding: 0;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  color: #555;
  text-overflow: ellipsis;
}

.backlog-block:empty {
  display: none;
}

.backlog-block {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
  margin: 10px 0;
  transition: opacity 0.25s ease-out;
}

.status-change {
  margin: 10px;
}

.backlog-block:first-child {
  margin-top: 0;
}

.backlog-block:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.overlay {
  z-index: 9999999;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0,0,0,0.5);
}

.dialog {
  width: 220px;
  display: none;
  margin: 20px auto;
  font-size: 14px;
  background: #eee;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
  border-radius: 2px;
  padding: 20px;
}

.login hr {
  border: none;
  margin: 20px 0;
}

.overlay select,
.overlay label,
.overlay input[type=text],
.overlay input[type=number],
.overlay input[type=email],
.overlay input[type=password]
{
  width: 200px;
  display: block;
}

.overlay select,
.overlay input[type=number],
.overlay input[type=text],
.overlay input[type=email],
.overlay input[type=password] {
  font-size: 14px;
  padding: 5px;
}

.overlay .input-group {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  border: none;
}

.overlay .submit-group {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  border: none;
  text-align: right;
}

p.note {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.overlay .submit-group p.note {
  float: left;
}

.overlay .checkbox-group {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  border: none;
}

.overlay .checkbox-group input,
.overlay .checkbox-group label {
  display: inline-block;
  width: auto;
}

.overlay label {
  color: #555;
  margin-bottom: 3px;
}

.overlay input {
  font-size: 14px;
}

.join a.close,
.config a.close {
  color: #000;
  display: inline-block;
  float: right;
  font-size: 14px;
}

.overlay h2 {
  font-size: 18px;
  margin-top: 0;
  border-bottom: 1px solid #ccc;
}

.flex-wrap-left header h1 {
  margin: 0;
  padding: 8px 0 8px 25px;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  text-shadow: 0 0 1px rgba(117, 10, 10, 0.5);
  font-weight: bold;
  -webkit-user-select: none;
  display: inline-block;
}

.flex-wrap-left header {
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  background: #ffb6c0;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  position: relative;
}

.nav-title .join-channel,
.nav-title .add-connection {
  display: inline-block;
  cursor: pointer;
  float: right;
  margin-top: 4px;
  color: #ccc;
}

.nav-title .join-channel:hover,
.nav-title .add-connection:hover {
  color: #555;
}

.message-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.message-nick {
  white-space: pre;
}

.message-flex .message-nick {
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  line-height: 1.4em;
}
.message-text {
  /white-space: pre-wrap;
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
}
.message-flex time {
  flex-grow:  0;
  flex-shrink: 0;
  display: inline-block;
  -webkit-user-select: none;
  cursor: default;
}

#global-controls-toggle {
  display: inline-block;
  float: right;
  -webkit-user-select: none;
}

#global-controls li {
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

#global-controls-toggle {
  padding: 8px 15px 8px 15px;
  cursor: pointer;
}

#global-controls-toggle:hover {
  text-shadow: 0 0 1px rgba(117, 10, 10, 0.5);
}

.flex-wrap.open #global-controls-toggle:hover {
  text-shadow: none;
}

#global-controls {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: right;
  margin: 0px;
  padding: 0px;
  background: #fff;
  box-shadow: -3px 3px 3px rgba(0,0,0,0.05);
  width: 100%;
  box-sizing: border-box;
}

.flex-wrap.open #global-controls-toggle {
  background: #fff;
  color: #ffb6c0;
}

.flex-wrap.open #global-controls {
  display: block;
  border-right: 1px solid rgba(0,0,0,0.05);
}

#global-controls li {
  display: block;
  margin: 0;
  padding: 8px 15px;
  font-size: 14px;
  box-sizing: border-box;
  cursor: pointer;
  list-style: none;
}

#global-controls li:hover a {
  color: #555;
}

#global-controls li a {
  color: #777;
}

.help {
  display: none;
  width: 300px;
  background: #eee;
  margin: 20px auto;
  font-size: 14px;
  background: #eee;
  padding: 20px;
  border-radius: 2px;

}

.help dt, dd {
  margin: 0;
  padding: 0;
}

.help dt {
  font-weight: bold;
}

.help dd {
  margin-bottom: 10px;
}

.help dd:last-child {
  margin-bottom: 0;
}

div.flex-wrap {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.flex-wrap-left {
  width: 200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow: hidden;
}

.flex-wrap-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #fff;
}

body[data-panel-type=channel] .nicks-wrap {
  display: block;
}

body[data-panel-type=channel].hide-nicklist .nicks-wrap {
  display: none;
}

body.hide-joinpartquit .event.join,
body.hide-joinpartquit .event.quit,
body.hide-joinpartquit .event.part {
  display: none;
}

.nicks-wrap:hover {
  overflow-y: auto;
}

.nicks-wrap {
  width: 150px;
  overflow-x: hidden;
  overflow-y: hidden;
  border-left: 1px solid #eee;
  flex-grow: 0;
  flex-shrink: 0;
  display: none;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
}

#nicks ul {
  margin: 0;
  padding: 0;
}

#nicks ul li {
  list-style: none;
  margin: 0;
  padding: 2px 15px;
}

#nicks ul li a {
  cursor: pointer;
  color: #555;
}

#nicks ul li a:hover {
  color: #000;
}

.flex-wrap-panel {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
}

#panel-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
}

#emoji {
  position: relative;
}

#emoji.open:hover:before,
#emoji.open:before {
  content: '\1f601';
}

#emoji:hover:before {
  content: '\1f642';
}

#emoji:before {
  content: '\1f610';
  display: inline-block;
  filter: grayscale(100%);
  font-size: 18px;
  padding: 9px 5px 8px 0px;
  cursor: pointer;
}

.emoji-popup {
  height: 0px;
  visibility: hidden;
}

.react.open .emoji-popup,
#emoji.open .emoji-popup {
  height: auto;
  visibility: visible;
}

.emoji-popup {
  overflow: hidden;
  position: absolute;
  bottom: 100%;
  right: 0px;
  padding: 0px;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  background: #eee;
  border-bottom: none;
  border-radius: 4px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.delete-connection {
  margin-right: 5px;
}

.emoji-search {
  display: block;
  padding: 5px;
}

.emoji-search input {
  display: block;
  font-size: 14px;
  width: 286px;
  padding: 5px;
  border: 1px solid #ccc;
}

.emoji-popup ul {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  max-height: 200px;
  overflow: auto;
  padding: 5px;
  margin: 0;
  background: #fff;
}
.emoji-popup li {
  list-style: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  box-sizing:  border-box;
  min-width: 28px;
  height: 28px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.emoji-popup li:hover {
  background: #eee;
}

.embed-wrap {
  margin-top: 10px;
  overflow: hidden;
  max-width: 100%;
  border-radius: 5px;
  border: 1px solid #eee;
  cursor: pointer;
  max-width: 500px;
}

.embed-wrap.open {
  border: none;
  border-radius: 0px;
  cursor: auto;
  max-width: none;
}

.embed-wrap:hover {
  border-color: #ccc;
}

.embed-wrap p,
.embed-wrap h2 {
  font-size: 14px;
  margin: 5px 15px;
}

.embed-thumb {
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
  background-size: cover;
  width: 100px;
  height: 100px;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 10px;
}

p.embed-source {
  color: #999;
  font-size: 12px;
  margin-bottom: 5px;
}

.embed-play {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-image: url(/static/play_overlay.png);
  background-repeat: no-repeat;
  background-size: 30px 45px;
  background-position: center center;
  cursor: pointer;
}

.embed-wrap[data-embed-provider=twitter] {
  max-width: 350px;
  border: none;
}

.embed-wrap[data-embed-provider=wikipedia] {
  border-left: 10px solid #eee;
  padding-left: 10px;
}

.react {
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 4px 2px;
  font-size: 16px;
  line-height: 16px;
  background: #fff;
  cursor: pointer;
}

.react:before {
  content: '\1f610';
  filter: grayscale(100%);
  opacity: 0.5;
}

.react:hover:before {
  content: '\1f642';
  opacity: 1;
}

.react.open:hover:before,
.react.open:before {
  content: '\1f601';
  opacity: 1;
}

.reactions {
  margin-top: 5px;
  text-align: right;
  padding-left: 5px;
}

.reactions span {
  background: rgba(0,0,0,0.05);
  display: inline-block;
  text-align: center;
  padding: 4px 2px;
  margin-left: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 16px;
  line-height: 16px;
}

@media (max-width: 500px) {
  div.flex-wrap {
    flex-direction: column;
  }

  .flex-wrap-left {
    width: auto;
  }

  .flex-wrap-left header h1 {
    padding-left: 10px;
  }

  div.flex-wrap.open .flex-wrap-left {
    display: flex;
    height: 100%;
  }

  div.flex-wrap.open .flex-wrap-right {
    display: none;
  }

  div.flex-wrap.open #nav {
    display: block;
  }

  .flex-wrap #nav {
    display: none;
    width: auto;
  }

  #prefix {
    display: none;
  }

  .nicks-wrap,
  #toggle-nicks {
    display: none !important;
  }

  .message-flex {
    display: block;
    position: relative;
  }

  .message-flex .message-nick {
    display: inline-block;
  }

  .message-flex time {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  #panel ol li.event {
    padding-left: 10px;
  }

  .nav li a.edit-panel,
  .nav li a.close-panel {
    opacity: 1;
  }

#global-controls {
  display: none;
  position: relative;
  text-align: left;
  margin: 0px;
  padding: 0px;
  background: #fff;
  box-shadow: none;
}

.flex-wrap.open #global-controls {
  display: block;
  border-right: none;
}

.nav-title .add-connection,
.nav-title .join-channel {
  display: none;
}

.dialog {
  position: absolute;
  width: auto;
  display: none;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0;
  font-size: 14px;
  background: #eee;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  box-shadow: none;
  border-radius: 0px;
  padding: 10px;
}

}

