body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

a:link {
  color: #0093ff;
}

a:visited {
  color: #7600bd;
}

#panel {
  flex-grow: 1;
}

#panel ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

#panel ol li {
  padding: 5px 10px;
  border-top: 1px solid #eee;
}

#panel li:first-child {
  border-top: none;
}

#panel ol li.filler {
  padding: 0;
  margin: 0;
  border: none;
  height: 0px;
}

#panel ol li.event {
  color: #999;
  font-style: italic;
  border-top: 1px solid #eee;
  padding-left: 20px;
}

#panel ol li.notice span.channel {
  color: #02c702;
  font-weight: bold;
}

#panel ol li.raw {
  font-family: "Menlo", "Inconsolata", "Consolas",
    "Droid Sans Mono", "Monaco", monospace;
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
  white-space: pre-wrap;
  line-height: 1.2em;
}

#panel ol li.sending.sent {
  opacity: 1;
  transition: opacity .25s;
}

#panel ol li.sending {
  opacity: 0.25;
  transition: opacity 0s;
}

#panel ol .status-change + li.event,
#panel ol .backlog-block + li.event,
#panel ol .backlog-block + li.message,
#panel ol .backlog-block + li.raw,
#panel ol li.event:first-child,
#panel ol li.event + li.event {
  border-top: none;
}

#panel ol li.event + li.event {
  padding-top: 0px;
}

#panel ol li.status-change {
  background: #eee;
}

#panel ol li span.message-nick {
  font-weight: bold;
}

#panel ol li.message time {
  color: #999;
  margin-left: 5px;
  font-size: 11px;
  line-height: 11px;
  padding-top: 5px;
}

#panel ol li span.message-nick {
  cursor: pointer;
}

#panel ol li.message a {
  word-break: break-all;
}

.image-wrap a {
  display: inline-block;
}

.image-wrap a img {
  max-width: 100%;
  max-height: 200px;
  display: block;
}

#foot {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-flow: row;
  margin: 0;
  padding: 0;
  background: #eee;
  right: 0px;
  bottom: 0px;
}

#prefix {
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 11px 5px; /* to match input border */
  font-size: 16px;
  line-height: 16px;
  color: #aaa;
}

#input {
  flex-grow: 1;
  padding: 5px;
}

#input input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 0;
}

#nav {
  width: 200px;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid #ddd;
}

.nav {
  margin: 0;
  padding: 0;
}

.nav#privates {
  flex-grow: 1;
}

.nav-title {
  padding: 10px 15px 0 15px;
  font-size: 12px;
  color: #999;
  font-weight: normal;
  margin: 0;
}

.nav li.unread span.pill {
  display: inline;
}

.nav li.missed.unread:hover,
.nav li.missed.unread,
.nav li.unread:hover,
.nav li.unread {
  list-style-type: disc;
  color: #02c702;
}

.nav li.missed:hover,
.nav li.missed {
  list-style-type: disc;
  color: #ccc;
}

.nav li.missed:hover {
  color: #555;
}

.nav li {
  cursor: pointer;
  padding: 8px 0px 8px 15px;
  list-style-type: circle;
  color: #ccc;
  font-size: 28px;
  line-height: 14px;
  list-style-position: inside;
  position: relative;
}

.nav li.active {
  background: #ddd;
  color: #ddd;
}

.nav li.active:hover {
  color: #ddd;
  background: #ddd;
}

.nav li:hover {
  color: #555;
  background: #efefef;
}

.nav li > a {
  color: #555;
  font-size: 14px;
  line-height: 14px;
  display: block;
  position: absolute;
  left: 32px;
  top: 9px;
}

.nav li > a > span.pill {
  display: none;
  background: #bbb;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  padding: 0 5px;
  margin-left: 5px;
  font-size: 12px;
}

#topic {
  flex-shrink: 0;
  padding: 8px 10px;
  overflow-x: hidden;
  margin: 0;
  background: #ffccd3;
  white-space: pre;
  min-height: 14px;
}

#topic p {
  margin: 0;
  padding: 0;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  color: #b74151;
  text-overflow: ellipsis;
}

#topic p a {
  color: #b74151;
}

.backlog-block:empty {
  display: none;
}

.backlog-block {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
  margin: 10px 0;
  transition: opacity 0.25s ease-out;
}

.status-change {
  margin: 10px;
}

.backlog-block:first-child {
  margin-top: 0;
}

.backlog-block:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.overlay {
  z-index: 9999999;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0,0,0,0.5);
}

.help,
.login,
.config {
  width: 220px;
  display: none;
  margin: 20px auto;
  font-size: 14px;
  background: #eee;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
  border-radius: 2px;
  padding: 20px;
}

.login hr {
  border: none;
  margin: 20px 0;
}

.overlay label,
.overlay input[type=text],
.overlay input[type=number],
.overlay input[type=email],
.overlay input[type=password]
{
  width: 200px;
  display: block;
}

.overlay input[type=number],
.overlay input[type=text],
.overlay input[type=email],
.overlay input[type=password] {
  font-size: 14px;
  padding: 5px;
}

.overlay .input-group {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  border: none;
}

.overlay .submit-group {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  border: none;
  text-align: right;
}

p.note {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.overlay .submit-group p.note {
  float: left;
}

.overlay .checkbox-group {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  border: none;
}

.overlay .checkbox-group input,
.overlay .checkbox-group label {
  display: inline-block;
  width: auto;
}

.overlay label {
  color: #555;
  margin-bottom: 3px;
}

.overlay input {
  font-size: 14px;
}

.config a.close {
  color: #000;
  display: inline-block;
  float: right;
  font-size: 14px;
}

.overlay h2 {
  font-size: 18px;
  margin-top: 0;
  border-bottom: 1px solid #ccc;
}

h1 {
  margin: 0;
  padding: 8px 0 8px 15px;
  font-size: 14px;
  line-height: 14px;
  background: #ffb6c0;
  color: #b74151;
  box-sizing: border-box;
  font-weight: normal;
  flex-grow: 0;
  flex-shrink: 0;
}

#add-connection {
  display: inline-block;
  cursor: pointer;
  float: right;
}

#add-connection:hover {
  color: #000;
}

.message-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.message-nick {
  white-space: pre;
  line-height: 15px;
}

.message-flex .message-nick {
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
}
.message-text {
  /white-space: pre-wrap;
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
}
.message-flex time {
  flex-grow:  0;
  flex-shrink: 0;
  display: inline-block;
}

#global-controls {
  display: block;
  margin: 0;
  flex-shrink: 0;
  flex-grow: 0;
  padding: 11px 15px;
  height: 18px;
  background: #eee;
  border-right: 1px solid #ccc;
}

#global-controls li {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  margin-left: 4px;
  padding-left: 6px;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
}

#global-controls li#toggle-nicks {
  display: none;
}

body[data-panel-type=channel] #global-controls #toggle-nicks {
  display: inline-block;
}

#global-controls li:first-child {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}

#global-controls li a {
  color: #777;
  cursor: pointer;
  list-style:  none;
}

.help {
  display: none;
  width: 300px;
  background: #eee;
  margin: 20px auto;
  font-size: 14px;
  background: #eee;
  padding: 20px;
  border-radius: 2px;

}

.help dt, dd {
  margin: 0;
  padding: 0;
}

.help dt {
  font-weight: bold;
}

.help dd {
  margin-bottom: 10px;
}

.help dd:last-child {
  margin-bottom: 0;
}

div.flex-wrap {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.flex-wrap-left {
  width: 200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow: hidden;
}

.flex-wrap-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #fff;
}

body[data-panel-type=channel] .nicks-wrap {
  display: block;
}
body[data-panel-type=channel] .nicks-wrap.hidden {
  display: none;
}

.nicks-wrap {
  width: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  border-left: 1px solid #eee;
  flex-grow: 0;
  flex-shrink: 0;
  display: none;
}

#nicks ul {
  margin: 0;
  padding: 0;
}

#nicks ul li {
  list-style: none;
  margin: 0;
  padding: 2px 15px;
}

#nicks ul li a {
  cursor: pointer;
  color: #555;
}

#nicks ul li a:hover {
  color: #000;
}

.flex-wrap-panel {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#panel-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
}

@media (max-width: 500px) {
  #foot {
    flex-direction: row-reverse;
  }
  #global-controls {
    display: none;
  }
  .nicks-wrap {
    display: none !important;
  }
  #prefix {
    cursor: pointer;
    padding-right: 0px;
    padding-left: 5px;
  }
  #prefix:before {
    content: "\0000BB ";
    display: inline-block;
    font-size: 18px;
    line-height: 16px;
    font-weight: bold;
    color: #0093ff;
    transition: transform 0.5s;
    padding-right: 5px;
  }
  .flex-wrap.open #prefix:before {
    transform: scaleX(-1);
    padding-left: 5px;
  }
  .flex-wrap.open #foot #input {
    width: 1px;
  }
  .flex-wrap .flex-wrap-left {
    margin-left: -200px;
  }
  .flex-wrap.open .flex-wrap-left {
    margin-left: 0px;
  }
  .flex-wrap.open .flex-wrap-right {
    margin-right: -200px;
  }
  .flex-wrap-right,
  .flex-wrap-left {
    transition: all 0.1s ease-out;
  }

  .message-flex {
    display: block;
    position: relative;
  }
  .message-flex .message-nick {
    display: inline-block;
  }
  .message-flex time {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  #panel ol li.event {
    padding-left: 10px;
  }
}

