#log-search {
  display: block;
  padding: 5px 10px;
}

.flex-wrap-left {
  background: #eee;
}

#log-search label {
  font-weight: bold;
  color: #666;
  font-size: 14px;
  display: block;
}

#status {
  color: #666;
  text-align: center;
}

#log-search select,
#log-search input {
  width: 100%;
  box-sizing: border-box;
}

.log-search-group {
  padding: 7px 0;
}

.log-search-group select,
.log-search-group input {
  font-size: 14px;
  margin-top: 4px;
}

#panel ol:before {
  display: none;
}

p.note {
  font-size: 12px;
  color: #666;
}

span.note {
  font-size: 12px;
  font-weight: normal;
}

span.required {
  font-weight: bold;
  color: red;
}

.flex-wrap-left header {
  cursor: default;
}

li.message time:hover {
  cursor: pointer;
  text-decoration: underline;
}

.flex-wrap-left header h1 {
  padding-left: 10px;
}
