#log-search {
  display: block;
  padding: 5px 10px;
}

.flex-wrap-left {
  background: #eee;
}

#log-search label {
  font-weight: bold;
  color: #666;
  font-size: 14px;
  display: block;
}

#log-search input {
  width: 100%;
  box-sizing: border-box;
}

.log-search-group {
  padding: 7px 0;
}

.log-search-group select,
.log-search-group input {
  font-size: 14px;
}

#panel ol:before {
  display: none;
}
