    <aside class="dialog help">
      <a href="#" class="close">close</a>
      <p>Example commands:</p>

      <ul>
        <li><code>/join #channel</code></li>
        <li><code>/part reason</code></li>
        <li><code>/query user message</code></li>
        <li><code>/say /hello</code></li>
        <li><code>/topic new topic message</code></li>
        <li><code>/last query</code></li>
      </ul>

      <dl>
        <h3>Navigation</h3>
        <dt>Alt + [Up,Down]</dt>
        <dd>Next/Prev panel</dd>
        <dt>Shift + Alt + [Up,Down]</dt>
        <dd>Next/Prev unread panel</dd>
        <dt>Alt + [1-9]</dt>
        <dd>Focus panel</dd>
        <dt>Alt + t</dt>
        <dd>Quick panel switch</dd>
        <dt>Alt + k</dt>
        <dd>Quick panel switch</dd>
        <dt>Alt + ;</dt>
        <dd>Toggle nicklist</dd>
      </dl>
      <dl>
        <h3>Editor</h3>
        <dt>Ctrl + b</dt>
        <dd>Bold</dd>
        <dt>Ctrl + i</dt>
        <dd>Italic</dd>
        <dt>Ctrl + u</dt>
        <dd>Underline</dd>
        <dt>Ctrl + /</dt>
        <dd>Invert</dd>
        <dt>Up</dt>
        <dd>Previous line history</dd>
        <dt>Down</dt>
        <dd>Next line in history</dd>
      </dl>

      <p>
        <a target="_blank" href="https://github.com/lierc/lierc-basicui/blob/master/static/js/lierc/commands.js">Help Lee add more commands?</a>
      </p>
    </aside>
