<div class="message-menu-popup">
  <ul>
    <li class="message-privmsg">Direct message</li>
    <li class="message-monospace">Monospace text {{# if is_monospace}}off{{else}}on{{/if}}</li>
  </ul>
</div>
