<li data-panel-id="{{id}}"><a class="panel-name">{{name}}</a>{{#if editable}}<a class="fa fa-pencil edit edit-panel" title="Edit"></a>{{/if}}{{#if closable}}<a class="fa fa-times close-panel" title="Close"></a>{{/if}}{{#if log_url}}<a class="fa fa-file-text-o panel-log" title="View logs" href="{{logs}}" target="_blank"></a>{{/if}}</li>
