<li data-panel-id="{{id}}"><a class="panel-name">{{name}}</a>{{#if status}}<a class="fa fa-pencil edit edit-panel" title="Edit"></a>{{else}}<a class="fa fa-times close-panel" title="Close"></a><a class="fa fa-file-text-o panel-log" title="View logs"></a>{{/if}}</li>
